<header>
  <div class="container">
      <a href="#" class="logo" routerLink="/home">LPVS</a>
      <nav>
        <ul>
          <li><a href="#" routerLink="/home">Home</a></li>
          <li><a href="#" routerLink="/kanban">Kanban Board</a></li>
        </ul>
      </nav>
  </div>
</header>

<div class="container">
  <router-outlet></router-outlet>
</div>
