<p class="hello_friend">
  # ./exploit.sh<br>&emsp;Hello, friend!
</p>

<h1>Welcome!</h1>

<div class="play-container" [class.active]="clickCounter > 4">

    <p>
      You've clicked
      <span (click)="countClick()">this</span>
      {{ clickCounter }} times.
    </p>
    <br>
</div>

<div class="play-container" *ngIf="clickCounter > 0">
  <p>Reset click counter <span (click)="resetClickCounter()">here</span></p>
</div>

<div class="play-container" [ngClass]="setClass()">
  <p>
    <textarea rows="8" cols="80" [(ngModel)]="name"></textarea>
    <br>
    <strong>You said: </strong> {{ name }}
  </p>
</div>

<div class="play-container" [ngStyle]="{
  'background-color': clickCounter > 4 ? 'yellow' : 'lightgray',
  'border':           clickCounter > 4 ? '4px solid black' : 'none'
}">
  <ng-template [ngIf]="clickCounter > 4" [ngIfElse]="none">
    <p>The click counter <strong>IS GREATER</strong> than 4.</p>
  </ng-template>

  <ng-template #none>
    <p>The click counter is <strong>NOT GREATER</strong> than 4.</p>
  </ng-template>
</div>
