.hello_friend {

    background-color: #000;
    border: 1px solid #000;
    color:            #00ff00;
    padding:          8px;
    font-family:      courier new;

}

span {

  font-weight:      bold;
  background-color: lightgray;
  padding:          .3em .8em;
  cursor:           pointer;
  user-select:      none;

}

.play-container {

  padding:       3em;
  border:        1px solid lightgray;
  margin-bottom: 1em;

  input {
    padding:       1em;
    margin-bottom: 1em;

  }

}

.active {

  background-color: gray;
  border:           4px solid black;

}

.notactive {
  background-color: lightgray;
  border:           none;
}
